
h1 {
	color: #0C5D25;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 55px;
	font-weight: 550;
}

p {
	color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 25px;
	font-weight: 100;
}
body{
	text-align: center;
	background-color: #000000;  
}


.container {
    background-color: rgba(255, 255, 255, 0.562);
    max-width: 650;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35)
                     0px 5px 15px;
    margin: auto 100px auto 100px;
    padding: 5px 30px;
	justify-content: center;
}

img {
	border-radius: 10% 10% 10% 10%;
	 box-shadow: rgba(0, 0, 0, 0.35)
                     0px 5px 15px;
	margin: 20px 20px 20px 20px;
	display: inline;
} 

h4 {
	color: #0C5D25;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 25px;
	font-weight: 550;
}

h3 {
	color: #0C5D25;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 35px;
	font-weight: 550;
}

ul {
	list-style-type: none;
	color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 30px;
	font-weight: 10;
	display: flex;
    flex-wrap: wrap;
}

li {display: block;
	padding: 10px;
}

a {
	color: goldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 30px;
	font-weight: 10;
    align-items: center;
}
a:hover {
    color: #d60a0a;

}

.green-b {
  background-color: #0C5D25;
    width: 50;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35)   0px 5px 15px;
    margin: 50px 100px 50px 100px;
    padding: 30px 40px;
    align-items: center;
}

#navbar {
    background-color: #0C5D25;
	border-radius: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

#navbar a {
    color: goldenrod;
    text-decoration: none;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    padding: 10px;
    margin: 0 4px;
}

#navbar ul li a:hover {
    background-color: #0C5D25;
    border-radius: 5px;
}

.text-primary {
	color:#0C5D25

}

.fa-solid {
	color: #daa520

}

h2 {
    color: goldenrod;
}

/* ✅ Zobrazovat v mobilním režimu jen ikony v navbaru */
@media (max-width: 600px) {
    #navbar ul li a {
        font-size: 0; /* Skryje text */
        padding: 10px;
    }

    #navbar ul li a i {
        font-size: 28px; /* Zvýší velikost ikon */
        color: goldenrod;
        margin: 0 8px;
    }

    #navbar .logo {
        font-size: 0; /* Skryje text "Info" */
    }

    #navbar .logo i {
        font-size: 28px;
        color: goldenrod;
    }
}
